// variables
$color-principal: #ae5e32;
$color-secundario:#F5EBDD;
$color-acento:#A62C2B;
$color-texto:#333333;
$fuente-titulos:'Playfair Display', serif;
$fuente-textos:'Open Sans', sans-serif;

// RESET 
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// BASE GENERAL
body{
    font-family: $fuente-textos;
    background-color: $color-secundario;
    color: $color-texto;
    line-height: 1.6;
}
h1,h2,h3{
    font-family: $fuente-titulos;
    color: $color-principal;
}
a{
    text-decoration: none;
    color: $color-acento;
    &:hover{
        color: $color-principal;
    }
}
button {
    background-color: #a33e2b; 
    border: none;
    padding: 12px 25px;
    border-radius: 5px;
    transition:all 0.3s ease;

    a {
        text-decoration: none;
        color: #fff;
        font-weight: 500;
    }

    &:hover {
        background-color: darken(#a33e2b, 8%);
        transform: translateY(-4px);
    }
}
// CONTAINER GENERAL
.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}
// INDEX
// section principal
.section-principal{
    background-image: url("../img/fondo-restaurante.jpg");
    background-size: cover;
    background-position:bottom;
    color: white;
    text-align: center;
    padding: 150px 20px;
    position: relative;
}
.container-principal{
    background-color: 0,0,0,10;
    display: inline-block;
    padding: 30px;
    border-radius: 10px;
    h2{
        font-size: 3rem;
        font-weight: 700;
    }
    p{
        font-size: 1.2rem;
        margin-bottom: 20px;
    }
}
//section platos destacados
.section-plato{
    background-color: lighten($color-secundario, 5%);
    padding: 60px 20px;
    text-align: center;
    h2{
        color: $color-principal;
        margin-bottom: 20px;
        margin-top: 20px;
    }
}
.container-plato{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 25px;
    max-width: 1100px;
    margin: 0 auto;
}
.plato{
    background-color: white ;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    overflow: hidden;
    transition: transform 0.3s ease;
    &:hover{
        transform: translateY(-5px);
    }
    img{
        width: 100%;
        height: 180px;
        object-fit: cover;
    }
}
// section nosotros
.section-nosotros{
    background-color: #f8f9fa;
    padding: 80px 10px;
    text-align: center;
}
.container-nosotros{
    max-width: 800px;
    margin: 0 auto;
    p{
        font-size: 1.1rem;
        line-height: 1.7;
        color: #333;
        margin-bottom: 30px;
    }
}
// section rese単a
.section-rese単a{
    background-color: #fff;
    padding: 80px 10px;
    text-align: center;
}
.container-rese単a{
    max-width: 1000px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;

    .rese単a{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #f8f9fa;
        padding: 25px 20px;
        border-radius: 10px;
        box-shadow: 0, 2px, 6px rgba(0, 0, 0, 0.08);
        transition: transform 0.5 ease, box shadow 0.3s;
        &:hover{
        transform: translateY(-8px);
        box-shadow: 0, 6px, 30px rgba(0, 0, 0, 0.731);
        background-color: #fff;
        }
    }
    h5{
        color: $color-acento;
        font-weight: 600;
        margin-bottom: 10px;
    }
    p{
        font-size: 1rem;
        color: #444;
        background-color: #f8f9fa;
        padding: 20px;
        border-radius: 10px;
        line-height: 1.6;
        box-shadow: 0,2px, 6px rgba(0,0,0,0.05);
    }
}
// section llamado
.section-llamado{
    background: linear-gradient(135seg, $color-principal, #d65b45);
    color: #fff;
    text-align: center;
    padding: 15px 10%;
}
.container-llamado{
    max-width: 700px;
    margin: 0 auto;
    h2{
        font-size: 2rem;
        margin-bottom: 40px;
        margin-top: 20px;
        font-weight: 600;
    }
}
// MENU
// section principal
.menu-principal{
    background-color: 0,0,0,10;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    text-align: center;
    padding: 40px 20px;
    position: relative;
    h2{
        font-size: 3rem;
        font-weight: 700;
    }
    p{
        font-size: 1.2rem;
        margin-bottom: 20px;
    }
}
//section cartilla
#entradas,
#principales,
#postres {
  margin-bottom: 3rem;

  h2 {
    text-align: center;
    margin-bottom: 1.5rem;
    color: $color-acento;
    font-size: 1.8rem;
    font-weight: 600;
  }
 }
.container-entrada,
.container-platos,
.container-postres{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(26%, 1fr));
    gap: 25px;
}
.platos{
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0,2px, 8px, rgba(0,0,0,0.1);
    padding: 1rem;   
    transition: transform 0.3 ease;
&:hover{
    transform: scale(1.03);
}
img{
    width: 100%;
    height: 200px;
    border-radius: 10px;
    margin-bottom: 1rem;
}
h5,p{
    text-align: center;
}
span{
    color: $color-acento;
    display: flex;
    justify-content: center;
}
}
// section llamado
.section-reserva{
    background: linear-gradient(135seg, $color-principal, #d65b45);
    color: #fff;
    text-align: center;
    padding: 15px 10%;
    h3{
        font-size: 2rem;
        margin-bottom: 20px;
        margin-top: 20px;
        font-weight: 600;
    }
}
//NOSOTROS
// section principal
.principal-nosotros{
    padding: 60px 20px;
    text-align: center;
    h1{
        font-size: 3rem;
        color: $color-principal;
        margin-bottom: 20px;
        margin-top: 20px;
    }
}
//section-historia
.section-historia{
    background-color: #f8f9fa;
    text-align: center;
    padding: 40px 20px;
    h2{
        color: $color-principal;
        font-size: 2rem;
        margin-bottom: 1.5rem;
    }
    p{
        max-width: 800px;
        margin: 0 auto;
        line-height: 1.6;
        color: $color-texto;
    }
}
//section galeria
.section-galeria{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(26%, 1fr));
    gap: 25px;
    margin: 50px auto;
}
.galeria-nosotros{
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0,2px, 8px, rgba(0,0,0,0.1);
    padding: 1rem;  
    transition: transform 0.3 ease;
&:hover{
    transform: scale(1.03);
}
img{
    width: 100%;
    height: 200px;
    border-radius: 10px;
    margin-bottom: 1rem;
}
}
// section llamado
.llamado-nosotros{
    background: linear-gradient(135seg, $color-principal, #d65b45);
    color: #fff;
    text-align: center;
    padding: 10px 10%;
    button{
        margin: 20px;
    }
}
// GALERIA
//seccion principal
.principal-galeria{
    padding: 10px 20px;
    text-align: center;
    h1{
        font-size: 3rem;
        color: $color-principal;
        margin-bottom: 20px;
        margin-top: 20px;
    }
}
//section-galeria
.galeria{
    border-radius: 10px;
    box-shadow: 0,2px, 8px, rgba(0,0,0,0.1);
    padding: 1rem;  
    transition: transform 0.3 ease;
&:hover{
    transform: scale(1.03);
}
img{
    width: 100%;
    height: 200px;
    border-radius: 10px;
    margin-bottom: 1rem;
}
}
// section llamado
.llamado-galeria{
    background: linear-gradient(135seg, $color-principal, #d65b45);
    color: #fff;
    text-align: center;
    padding: 10px 10%;
    button{
        margin-top: 30px;
    }
}
//CONTACTO
//section principal
.contacto-principal{
    padding: 10px 20px;
    text-align: center;
    h1{
        font-size: 3rem;
        color: $color-principal;
        margin-bottom: 20px;
        margin-top: 20px;
    }
}
//section contacto
.section-contacto{
    background-color: #f8f9fa;
    border-radius: 10px;
    padding: 3rem;
    text-align: left;
    max-width: 600px;
    margin: 0 auto 3rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    h2{
        text-align: center;
        color: $color-principal;
        margin-bottom: 20px;
    }
    p{
        margin-bottom: 1.5rem;
        color: $color-texto;
        strong{
            color: black;
        }
    }
}
//section formulario
.formulario-contacto{
    max-width: 600px;
    margin: 0 auto;
    background-color: #fff8f0;
    padding: 3rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    h2 {
    color: #b84a1b;
    }
}
.form-control{
    border-radius: 5px;
    border: 3px radius #000;
    transition: box-shadow 0.2s ease;
    &:focus{
        border-color: #b84a1b;
        box-shadow: 0 0 4px rgba(184, 74, 27, 0.3);
    }
}